<!DOCTYPE html>
<html>
<head>
  <title>Lead Dashboard</title>
  <link rel="stylesheet" href="/styles.css" type="text/css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
  <script src="/script.js"></script>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js  "></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
</head>
  <body>
    <div class="main-container"> 
        <div class="header">
            <img src="images/Logo.jpg" id="logo" alt="John's Logo">
            <nav class="top-navigation">
                <ul> 
                  <li><a href="index" id="leadslink">Home</a></li>
                  <li><a href="/leads" id="leadslink">View Leads</a></li>
                </ul>
            </nav>
        </div>
        <div class="leadsuccess" id="leadsuccess">
          Lead successfully deleted.
        </div>
        <div>
            <a class="returnHome" href="/index">Return Home</a>
        </div>
    </div>
  </body>
</html>